@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

html { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
a { color: #23527c; }
a h2.head:hover { cursor: pointer;text-decoration: underline; }

/* error pop-ups */
.error { color: #a94442; }
.success { color: #3c763d; }
.alert i:hover { cursor: pointer; }
.hidden { visibility: hidden; }
.show { visibility: visible; }

/* jqueryui */
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover { background-color: #235293 !important; }

.ui-icon-background, .ui-state-active .ui-icon-background {
	border: #fff !important;
}