@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

html { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

h6 { margin-bottom: 2rem; font-size: 2rem; color: #fff; font-weight: 700; }
i.fa { margin-right: 1rem }


/* error pop-ups */
.error { color: #a94442; }
.success { color: #3c763d; }
.alert i:hover { cursor: pointer; }
.hidden { visibility: hidden; }
.show { visibility: visible; }

