<!-- stylesheet -->
<link rel="stylesheet" href="/public/css/user-gui/user-auth.css">

<!-- user login panel starts from here -->
<article class="auth login">
    
  <!-- user login section starts from here -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  
    <!-- login section starts frome here -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            User Dashoard Login
          </h4>
      </div>
      <div id="profile-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">

          <div class="col-md-12">
            <div class="row">

              <!-- user account form starts from here -->
              <form method="post" action="/user/login" id="form-user-profile">
              
                <!-- user email id section -->
                <div class="row">
                  <div class="col-md-4">
                    <label for="email-id">Email Id</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" name="email" id="email-id">
                  </div>
                </div>

                <!-- user password section -->
                <div class="row">
                  <div class="col-md-4">
                    <label for="password">Password</label>
                  </div>
                  <div class="col-md-6">
                    <input type="password" class="form-control" name="password" id="password">
                  </div>
                </div>

                <!-- user submit form section -->
                <div class="row col-md-6 col-md-offset-3">
                  <div class="col-md-3 col-md-offset-1">
                    <input type="submit"class="btn btn-default" value="Login" />
                  </div>
                  <div class="col-md-3">
                  <input type="submit"class="btn btn-default" value="Forget Password" />
                  </div>
              </div>

              </form>
              <!-- user account form ends here -->

            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- login sections ends here -->

  </div>
  <!-- user login section ends here -->
      
</article>
<!-- user login panel ends here -->