<!-- stylesheet -->
<link rel="stylesheet" href="/public/css/user-gui/user-auth.css">
<!-- script -->
<script src="/public/js/user/auth/forget-password.js"></script>

<!-- user forget panel starts from here -->
<article class="auth forget-password">

	<!-- user forget section starts from here -->
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

		<!-- forget section starts frome here -->
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="forget-head">
				<h1 class="panel-title">
					User Dashoard Password Recovery
				</h1>
			</div>
			<div id="forget-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="forget-head">
				<div class="panel-body">

					<div class="col-md-12">
						<div class="row">

							<!-- user forget form starts from here -->
							<form id="form-user-forget">

								<!-- alert notification -->
								<div class="row">
									<div class="col-md-12">
										<div id="error-forget" class="alert alert-danger hidden">
											<i class="fa fa-close error" id="btn-error-close" onclick="close()"></i>
											<strong id="error-forget-message"></strong>
										</div>
										<div id="success-forget" class="alert alert-success hidden">
											<i class="fa fa-check success"></i>
											<strong>Password has been sent!</strong>
										</div>
										{{#if error}}
											<div id="err-forget" class="alert alert-danger">
												<i class="fa fa-close error" id="btn-err-close" onclick="close()"></i>
												<strong>{{error}}</strong>
											</div>
										{{/if}}
									</div>
								</div>

								<!-- user email id section -->
								<div class="row">
									<div class="col-md-4">
										<label for="email">Email Id</label>
									</div>
									<div class="col-md-6">
										<input type="text" class="form-control" name="email" id="email">
									</div>
								</div>

								<!-- user submit form section -->
								<div class="row col-md-6 col-md-offset-3">
									<div class="col-md-5 col-md-offset-1">
										<input type="button" id="btn-user-forget" class="btn btn-default" onclick="sendPassword()" value="Send Password" />
									</div>
									<div class="col-md-3">
										<input type="button" id="btn-user-login" class="btn btn-default" onclick="login()" value="Login" />
									</div>
								</div>

							</form>
							<!-- user forget form ends here -->

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- forget sections ends here -->

	</div>
	<!-- user forget section ends here -->

</article>
<!-- user forget panel ends here -->