<!-- stylesheet -->
<link rel="stylesheet" href="/public/css/user-gui/user-auth.css">
<!-- script -->
<script src="/public/js/user/auth/account-login.js"></script>

<!-- user login panel starts from here -->
<article class="auth login">

  <!-- user login section starts from here -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <!-- login section starts frome here -->
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="login-head">
        <h1 class="panel-title">
          User Dashoard Login
        </h1>
      </div>
      <div id="login-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="login-head">
        <div class="panel-body">

          <div class="col-md-12">
            <div class="row">

              <!-- user login form starts from here -->
              <form id="form-user-login">

                <!-- alert notification -->
                <div class="row">
                  <div class="col-md-12">
                    <div id="error-login" class="alert alert-danger hidden">
                      <i class="fa fa-close error" id="btn-error-close" onclick="close()"></i>
                      <strong id="error-login-message"></strong>
                    </div>
                    <div id="success-login" class="alert alert-success hidden">
                      <i class="fa fa-check success"></i>
                      <strong>You're successfully logged in!</strong>
                    </div>
                    {{#if error}}
                    <div id="err-login" class="alert alert-danger">
                      <i class="fa fa-close error" id="btn-err-close" onclick="close()"></i>
                      <strong>{{error}}</strong>
                    </div>
                    {{/if}}
                  </div>
                </div>

                <!-- user email id section -->
                <div class="row">
                  <div class="col-md-4">
                    <label for="email">Email Id</label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" name="email" id="email">
                  </div>
                </div>

                <!-- user password section -->
                <div class="row">
                  <div class="col-md-4">
                    <label for="password">Password</label>
                  </div>
                  <div class="col-md-6">
                    <input type="password" class="form-control" name="password" id="password">
                  </div>
                </div>

                <!-- user submit form section -->
                <div class="row col-md-6 col-md-offset-3">
                  <div class="col-md-3 col-md-offset-1">
                    <input type="button" id="btn-user-login" class="btn btn-default" onclick="login()" value="Login" />
                  </div>
                  <div class="col-md-3">
                    <input type="button" id="btn-user-forget" class="btn btn-default" onclick="forgetPassword()" value="Forget Password" />
                  </div>
                </div>

              </form>
              <!-- user login form ends here -->

            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- login sections ends here -->

  </div>
  <!-- user login section ends here -->

</article>
<!-- user login panel ends here -->