/* dashboard */
.dashboard { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin: 0 auto;padding: 3rem 0 6rem;width: 100%;  }
.dashboard h1 { font-size: 2rem;font-weight: 600;margin-bottom: 3rem;text-align: center;text-transform: uppercase }
.dashboard h2 { padding: 1.5rem 2rem; }
.dashboard form .row { margin-bottom: 2rem; }
.dashboard .panel-default { margin-bottom: 3rem; }
.dashboard .panel-heading { background-color: #eee;padding: 1.5rem 2rem;text-align: center; }
.dashboard .panel-heading a { text-decoration: none; }
.dashboard .panel-title { color: #23527f; }

.dashboard .positive { color: #3c763d; }
.dashboard .negative { color: #a94442; }
.dashboard p.msg { font-size: 1.5rem;font-weight: 500;margin-top: 1rem;text-align: center; }
.dashboard p.msg.banner { font-size: 1.5rem;font-style: italic;font-weight: 400;margin-top: 0; }

/* account */ /* payments */
.dashboard.account, .dashboard.payments { width: 60%; }
.dashboard.account h2, .dashboard.payments h2, .dashboard.wallet h2, .dashboard.cart h2,.dashboard.orders h2 { padding: 0; }
.dashboard.account .panel-title, .dashboard.payments .panel-title { cursor: text; }

/* payments */
.dashboard.payments .card-show.heading { font-size: 1.5rem;font-weight: 500;padding: 1rem 0; }
.dashboard.payments .card-show.cards { font-size: 1.5rem;font-weight: none;padding:  0 0 1.2rem; }
.dashboard.payments .card-show.cards i { color: #a94442;cursor: pointer; }

/* wallet */
.dashboard.wallet .panel:first-child { margin-bottom: 3rem; }
.dashboard.wallet i.add-amount { position: absolute;margin-top: 1.1rem;margin-left: -7.6rem; }
.dashboard.wallet input.add-amount { text-indent: 1rem;color: #333; }
.dashboard.wallet .panel-body { font-weight: 500;text-align: center; }

/* cart */ /* orders */
.dashboard.cart { width: 100%; }
.dashboard.cart h3 { font-size: 1.2rem;font-weight: bold;text-align: left;margin-top: 0; }
.dashboard.cart .left-panel { display: inline-block;margin-right: 1%;width: 68%; }
.dashboard.cart .right-panel { display: inline-block;width: 30%; }
.dashboard.cart .row { text-align: left; }
.dashboard.cart .row.b-margin { margin-bottom: 2rem; }
.dashboard.cart .btn { margin-top: 1rem;width: 100%; }
.dashboard.cart .cost-summary { display: inline; }
.dashboard.cart i.delete { color: #a94442;cursor: pointer; }
.dashboard.cart #success-cart-list { text-align: center; }

/* orders */
.dashboard.orders .panel-body { font-weight: 500;text-align: center; }
.dashboard.orders .row { margin: 1.5rem 0;text-align: left }
.dashboard.orders .row.separate { border: 1px solid #d2d2d2;font-weight: normal;padding: 2rem 0; }
.dashboard.orders ul { padding: 0 0 0 1.5rem; }

#wallet-transaction-panel { text-align: left; }
#wallet-transaction-panel .row { font-size: 1.2rem;margin-bottom: 12px; }
#wallet-transaction-panel .row:first-child { font-weight: bold; }
#wallet-transaction-panel p { font-size: 2rem;text-align: center; }

/* other dashboard features*/
.dashboard input[type="number"] { display: inline-block;width: 48%; }
.dashboard input[type="number"]:first-child { float: left; }
.dashboard input[type="number"]:last-child { float: right; }

.dashboard select.btn-default { text-align: left;width: 100%; }