/*auth */
.auth { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin: 0 auto;padding: 3rem 0 6rem;width: 100%; }
.auth h1 { padding: 1rem; }
.auth form .row { margin-bottom: 2rem; }

/* create-new-user */
.auth.create-new-user, .auth.login { width: 60%;  }
.auth.create-new-user h1, .auth.login h1 { text-align: center; }
.auth.create-new-user .panel-heading h1, .auth.login .panel-heading h1 { padding: 1.5rem 2rem; }

/* forget-password */
.auth.forget-password { width: 60%;  }
.auth.forget-password h1 { text-align: center; }
.auth.forget-password .panel-heading h1 { padding: 1.5rem 2rem; }

/* accordin */
.panel-group { margin-bottom: 0; }
.panel-group .panel { margin-top: 3rem; }
.panel-heading { padding: 0; }
.panel-heading a { text-decoration: none; }