.item { display: inline-block;margin: 1rem;width: 30% }
.item img { height: 220px; width: 100%; }

.item .panel-body { padding: 0; }
.item .detail { margin: 1rem 0; }
.item .price { color: #3c763d;font-size: 1.8rem;margin-top: .6rem; }