/* payment confirmation stylesheet */
.subscription { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding: 3rem 0 6rem;text-align: center;width: 100%; }
.subscription h1 { font-size: 4rem;font-weight: bold; }
.subscription h2 { font-size: 1.3rem;margin-top: 6rem; }