<!-- stylesheet -->
<link rel="stylesheet" href="/public/css/user-gui/user-dashboard.css">
<!-- script -->
<script src="/public/js/user/gui/wallet-settings.js"></script>

<!-- wallet dashboard starts from here -->
<article class="dashboard wallet">
	<h1>Wallet Information</h1>
		
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		
		<!-- left panel section starts from here -->
		<div class="col-md-5">
			<!-- wallet details section starts frome here -->
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="wallet-info">
					<a role="button"  data-parent="#accordion" aria-expanded="true" aria-controls="wallet-info-panel">
						<h2 class="panel-title">
							Available Cash 
						</h2>
					</a>
				</div>
				<div id="wallet-info-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="wallet-info">
					<div class="panel-body">

						<div class="col-md-12">
							<div class="row">

								<!-- user wallet starts from here -->					
								<div>
									<!-- wallet amount section -->
									<div class="row">
										<div class="col-md-4 col-md-offset-1">
											<p id="wallet-amount-label">Amount</p>
										</div>
										<div class="col-md-6 col-md-offset-1">
											<p id="wallet-amount">
												<i class="fa fa-dollar"></i>
												{{user.wallet}}
											</p>
										</div>
									</div>
								
								</div>
								<!-- user wallet form ends here -->
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- wallet details sections ends here -->

			<!-- add amount section starts frome here -->
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="wallet-add-amount">
					<a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="wallet-add-amount-panel">
						<h2 class="panel-title">
							Add Cash
						</h2>
					</a>
				</div>
				<div id="wallet-add-amount-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="wallet-add-amount">
					<div class="panel-body">

						<div class="col-md-12">
							<div class="row">

								<!-- add amount detail form starts from here -->
								<form id="form-user-wallet">
								
									<!-- alert notification -->
									<div class="row">
										<div class="col-md-12">
											<div id="error-wallet" class="alert alert-danger hidden">
												<i class="fa fa-close error" id="btn-error-close" onclick="close()"></i>
												<strong id="error-wallet-message"></strong> 
											</div>
											<div id="success-wallet" class="alert alert-success hidden">
												<i class="fa fa-check success"></i>
												<strong>Amount has been added successfully</strong> 
											</div>
										</div>
									</div>

									<!-- amount section -->
									<div class="row">
										<div class="col-md-4">
											<label for="amount">Enter Amount</label>
										</div>
										<div class="col-md-6 col-md-offset-1">
											<i class="fa fa-dollar add-amount"></i>
											<input type="text" class="form-control add-amount" name="amount" id="amount" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Enter amount to add"/>
										</div>
									</div>

									<!-- amount submit form section -->
									<input type="button" id="btn-user-wallet" class="btn btn-default" onclick="updateWallet()" value="Add" />
								
								</form>
								<!-- add amount detail form ends here -->

							</div>
						</div>


					</div>
				</div>
			</div>
			<!-- add amount detail sections ends here -->
		</div>
		<!-- left panel section ends here -->
		
		<!-- right panel section starts from here -->
		<div class="col-md-7">
			<!-- wallet transactions section starts frome here -->
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="wallet-transaction">
					<a role="button"  data-parent="#accordion" aria-expanded="true" aria-controls="wallet-transaction-panel">
						<h2 class="panel-title">
							Wallet Transactions
						</h2>
					</a>
				</div>
				<div id="wallet-transaction-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="wallet-transaction">
					<div class="panel-body">

							<div class="row">
								<!-- order id -->
								<div class="col-md-5">
									Order Id
								</div>

								<!-- item -->
								<div class="col-md-3">
									Title
								</div>

								<!--price -->
								<div class="col-md-2">
									price
								</div>

								<!-- Date -->
								<div class="col-md-2">
									Date
								</div>
								
							</div>

							<div class="row">
								<div class="col-md-5">
									11edv-1f3g5-ju245667b65t-t4erty-1233
								</div>

								<div class="col-md-3">
									Bath robe
								</div>

								<div class="col-md-2">
									$7.56
								</div>

								<div class="col-md-2">
									04/2017
								</div>
								
							</div>

							</div>
							<div class="row">
								<p>No wallet transactions</p>
							</div>

					</div>
				</div>
			</div>
			<!-- wallet transactions sections ends here -->
		</div>
		<!-- right panel section ends here -->
			

	</div>

	
</article>
<!-- wallet dashboard ends here -->