<!-- stylesheet -->
<link rel="stylesheet" href="/public/css/user-gui/user-dashboard.css">
<!-- script -->
<script src="/public/js/user/gui/account-settings.js"></script>

<!-- user account starts from here -->
<article class="dashboard account">
	<h1>Account Settings</h1>
		
	<!-- user account section starts from here -->
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	
		<!-- user profile section starts frome here -->
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="profile-head">
				<a role="button"  data-parent="#accordion" aria-expanded="true" aria-controls="profile-panel">
					<h2 class="panel-title">
						Profile Information
					</h2>
				</a>
			</div>
			<div id="profile-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="profile-head">
				<div class="panel-body">

					<div class="col-md-12">
						<div class="row">

							<!-- user account form starts from here -->
							<form id="form-user-profile" >

								<!-- alert notification -->
								<div class="row">
									<div class="col-md-12">
										<div id="error-profile" class="alert alert-danger hidden">
											<i class="fa fa-close error" id="btn-error-close" onclick="close()"></i>
											<strong id="error-profile-message"></strong> 
										</div>
										<div id="success-profile" class="alert alert-success hidden">
											<i class="fa fa-check success"></i>
											<strong>Changes saved successfully</strong> 
										</div>
									</div>
								</div>
							
								<!-- user email id section -->
								<div class="row">
									<div class="col-md-4">
										<label for="email-id">Email Id</label>
									</div>
									<div class="col-md-6 col-md-offset-1">
										<input type="text" class="form-control" name="email" id="email-id" value="{{user._id}}" disabled />
									</div>
								</div>

								<!-- user name section -->
								<div class="row">
									<div class="col-md-4">
										<label for="name">Name</label>
									</div>
									<div class="col-md-6 col-md-offset-1">
										<input type="text" class="form-control" name="name" id="name" value="{{user.name}}" />
									</div>
								</div>

								<!-- user mobile section -->
								<div class="row">
									<div class="col-md-4">
										<label for="mobile">Contact Number</label>
									</div>
									<div class="col-md-6 col-md-offset-1">
										<input type="text" class="form-control" name="mobile" id="mobile" value="{{user.mobile}}" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="10"/>
									</div>
								</div>

								<!-- user submit form section -->
								<input type="button" id="btn-user-profile" class="btn btn-default" onclick="updateProfile()" value="Save" />
							
							</form>
							<!-- user account form ends here -->

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- user profile sections ends here -->

		<!-- user privacy section starts frome here -->
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingOne">
				<a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="privacy-panel">
					<h2 class="panel-title">
						Privacy Setting
					</h2>
				</a>
			</div>
			<div id="privacy-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">

					<div class="col-md-12">
						<div class="row">

							<!-- user privacy form starts from here -->
							<form id="form-user-privacy">

								<!-- alert notification -->
								<div class="row">
									<div class="col-md-12">
										<div id="error-privacy" class="alert alert-danger hidden">
											<i class="fa fa-close error "></i>
											<strong id="error-privacy-message"></strong> 
										</div>
										<div id="success-privacy" class="alert alert-success hidden">
											<i class="fa fa-check success"></i>
											<strong>Changes saved successfully</strong> 
										</div>
									</div>
								</div>
							
								<!-- user new password section -->
								<div class="row">
									<div class="col-md-4">
										<label for="new-password">New Password</label>
									</div>
									<div class="col-md-6 col-md-offset-1">
										<input type="password" class="form-control" name="password" id="new-password"/>
									</div>
								</div>

								<!-- user confirm password section -->
								<div class="row">
									<div class="col-md-4">
										<label for="confirm-password">Confirm Password</label>
									</div>
									<div class="col-md-6 col-md-offset-1">
										<input type="password" class="form-control" id="confirm-password" />
									</div>
								</div>

								<!-- user submit form section -->
								<input type="button" id="btn-user-privacy" class="btn btn-default" onclick="updatePrivacy()" value="Save" />
							
							</form>
							<!-- user privacy form ends here -->

						</div>
					</div>


				</div>
			</div>
		</div>
		<!-- user privacy sections ends here -->


	</div>
	<!-- user account section ends here -->
			
</article>
<!-- user account ends here -->