<!-- stylesheet -->
<link rel="stylesheet" href="/public/css/user-gui/user-dashboard.css">

<!-- payment dashboard starts from here -->
<article class="dashboard payments">
	<h2>Payment Details</h2>
		
	<!-- user payment detail section starts from here -->
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		
		<!-- left panel starts from here -->
		<div class="col-md-5">

			<!-- user saved details section starts frome here -->
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="head-saved-card">
					<a role="button"  data-parent="#accordion" aria-expanded="true" aria-controls="saved-card-panel">
						<h4 class="panel-title">
							Saved Payment Details
						</h4>
					</a>
				</div>
				
				<div id="saved-card-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="head-saved-card">
					<div class="panel-body">

						{{#if user.paymentInfo }}
							<div class="row">
								<!-- card number -->
								<div class="col-md-5">
									Card Number
								</div>

								<!-- card name -->
								<div class="col-md-4">
									Card Holder
								</div>

								<!-- card expiry -->
								<div class="col-md-2">
									Expiry
								</div>
								
							</div>

							<div class="row">
								<!-- card number -->
								<div class="col-md-5">
									1231-134543-33453
								</div>

								<!-- card name -->
								<div class="col-md-4">
									Paras Garg
								</div>

								<!-- card expiry -->
								<div class="col-md-2">
									04/2017
								</div>

								<!-- card delete -->
								<div class="col-md-1">
									<a href="">
										<i class="fa fa-close"></i>
									</a>
								</div>
							</div>

							<div class="row">
								<!-- card number -->
								<div class="col-md-5">
									1231-134543-33453
								</div>

								<!-- card name -->
								<div class="col-md-4">
									Paras Garg
								</div>

								<!-- card expiry -->
								<div class="col-md-2">
									04/2017
								</div>

								<!-- card delete -->
								<div class="col-md-1">
									<a href="">
										<i class="fa fa-close"></i>
									</a>
								</div>
							</div>
						{{else}}
							<div class="row">
								<p>No saved cards</p>
							</div>
						{{/if}}

					</div>
				</div>
			</div>
			<!-- user saved details sections ends here -->

			<!-- user add detail section starts frome here -->
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="add-card-head">
					<a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="add-card-panel">
						<h4 class="panel-title">
							Add Payment Details
						</h4>
					</a>
				</div>
				<div id="add-card-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="add-card-head">
					<div class="panel-body">

						<div class="col-md-12">
							<div class="row">

								<!-- user add payment detail form starts from here -->
								<form method="post" action="/user/update" id="form-add-card">
								
									<!-- name on card section -->
									<div class="row">
										<div class="col-md-4">
											<label for="card-name">Name On Card</label>
										</div>
										<div class="col-md-6 col-md-offset-1">
											<input type="text" class="form-control" name="cardName" id="card-name" placeholder="Card Holder's Name"/>
										</div>
									</div>

									<!-- card number section -->
									<div class="row">
										<div class="col-md-4">
											<label for="card-number">Card Number</label>
										</div>
										<div class="col-md-6 col-md-offset-1">
											<input type="text" class="form-control" name="cardNumber" id="card-number" placeholder="Card Number"/>
										</div>
									</div>

									<!-- card type section -->
									<div class="row">
										<div class="col-md-4">
											<label for="card-type">Card Type</label>
										</div>
										<div class="col-md-6 col-md-offset-1">
											<select class="btn btn-default" name="cardType" id="card-type">
												<option selected disabled>Card Type</option>
												<option value="Credit Card">Credit Card</option>
												<option value="Debit Card">Debit Card</option>
											</select>
										</div>
									</div>

									<!-- card expiry section -->
									<div class="row">
										<div class="col-md-4">
											<label for="card-month">Card Expiry</label>
										</div>
										<div class="col-md-6 col-md-offset-1">
											<input type="number" class="form-control" name="cardMonth" id="card-month" min="1" max="12" placeholder="Month"/>
											<input type="number" class="form-control" name="cardYear" id="card-year" min="2017" max="2051" placeholder="Year"/>
										</div>
									</div>

									<!-- card brand section -->
									<div class="row">
										<div class="col-md-4">
											<label for="card-brand">Card Type</label>
										</div>
										<div class="col-md-6 col-md-offset-1">
											<select class="btn btn-default" name="cardType" id="card-brand">
												<option selected disabled>Card Brand</option>
												<option value="AmEx">American Express</option>
												<option value="Master">Master</option>
												<option value="Visa">Visa</option>
											</select>
										</div>
									</div>

									<!-- user submit form section -->
									<input type="submit"class="btn btn-default" value="Add" />
								
								</form>
								<!-- user add payment detail form ends here -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- user add detail sections ends here -->

		</div>
		<!-- left panel ends here -->

		<!-- right panel starts from here -->
		<div class="col-md-7">
			<!-- user saved details section starts frome here -->
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="head-payment-transactions">
					<a role="button"  data-parent="#accordion" aria-expanded="true" aria-controls="payment-transactions-panel">
						<h4 class="panel-title">
							Payment Transactions
						</h4>
					</a>
				</div>
				
				<div id="payment-transactions-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="head-payment-transactions">
					<div class="panel-body">

							<div class="row">
								<!-- card number -->
								<div class="col-md-5">
									Transaction Id
								</div>

								<!-- card name -->
								<div class="col-md-5">
									Order Id
								</div>


								<!-- card expiry -->
								<div class="col-md-2">
									Date
								</div>
								
							</div>

							<div class="row">
								<!-- card number -->
								<div class="col-md-5">
									11edv-1f3g5-ju245667b65t-t4erty-1233
								</div>

								<!-- card name -->
								<div class="col-md-5">
									11edv-1f3g5-ju245667b65t-t4erty-1233
								</div>

								<!-- card expiry -->
								<div class="col-md-2">
									04/2017
								</div>
								
							</div>

							</div>
							<div class="row">
								<p>No transactions</p>
							</div>

					</div>
				</div>
			</div>
			<!-- user saved details sections ends here -->
		</div>
		<!-- right panel ends here -->

	</div>
	<!-- user payment detail section ends here -->
			
</article>
<!-- payment dashboard ends here -->