/* footer */
footer { background-color:#0c1a1e; font-family: 'Open Sans', sans-serif; padding: 50px 0; }
footer h3 { margin-bottom: 2rem; font-size: 2rem; color: #fff; font-weight: 700; }

footer p { color:#fff;font-size: 1.3rem;text-align: justify; }
footer p.error { color:#a94442; }
footer p.success { color:#3c763d; }

footer i { color:#999; }
footer i.error { color:#a94442; }
footer i.success { color:#3c763d; }
footer i.fa { margin-right: 1rem; }

footer .inp-row-margin { margin-top: 10px; }
footer .inp-equal-width { display: inline-block;width: 48.8%; }
footer .inp-equal-width:first-child { float: left; }
footer .inp-equal-width:last-child { float: right; }

footer blockquote { border: none;font-size: 1.5rem;padding: 0; }
footer a, footer a:hover { color: #fff; }

#form-subscribe input[type="text"] { display: inline-block;width: 60%; }
#form-subscribe input[type="submit"] { display: inline-block;margin-top: -.3rem;width: 35%; }

@media only screen and (max-width: 480px) {
	footer h3 { text-align: center; }	
	footer p { margin-top: 1rem;text-align: center; }	
	footer blockquote { width: 50%;margin-left: 38%; }
	
	footer .row { margin: 0; }
	footer .col-md-12 {	padding: 0; }
	footer .btn-full { width: 50%;margin-left: 25%; }
}

@media (min-width: 481px) and (max-width: 991px) {
	footer h3 { text-align: center; }	
	footer p { margin-top: 1rem;text-align: center; }	
	footer blockquote { width: 50%;margin-left: 43%; }
	
	footer .row { margin: 0; }
	footer .col-md-12 {	padding: 0; }
	footer .btn-full { width: 50%;margin-left: 25%; }
}