/* footer */
footer { background-color:#0c1a1e; font-family: 'Open Sans', sans-serif; padding: 50px 0; }

footer p { color:#fff;font-size: 1.3rem;text-align: justify; }
footer p.error { color:#ff0000; }
footer p.success { color:#32cd32; }

footer i { color:#999; }
footer i.error { color:#ff0000; }
footer i.success { color:#32cd32; }

footer .inp-row-margin { margin-top: 10px; }
footer .inp-equal-width { display: inline-block;width: 48.8%; }
footer .inp-equal-width:first-child { float: left; }
footer .inp-equal-width:last-child { float: right; }

footer blockquote { padding: 0 20px; }

#form-subscribe input[type="text"] { display: inline-block;width: 60%; }
#form-subscribe input[type="submit"] { display: inline-block;margin-top: -.3rem;width: 35%; }

@media only screen and (max-width: 480px) {
	footer h6 { text-align: center; }	
	footer p { margin-top: 1rem;text-align: center; }	
	footer blockquote { width: 50%;margin-left: 38%; }
	
	footer .row { margin: 0; }
	footer .col-md-12 {	padding: 0; }
	footer .btn-full { width: 50%;margin-left: 25%; }
}

@media (min-width: 481px) and (max-width: 991px) {
	footer h6 { text-align: center; }	
	footer p { margin-top: 1rem;text-align: center; }	
	footer blockquote { width: 50%;margin-left: 43%; }
	
	footer .row { margin: 0; }
	footer .col-md-12 {	padding: 0; }
	footer .btn-full { width: 50%;margin-left: 25%; }
}