/* header */
header { background-color: #337ab7;display: block;min-height: 50px; }
header a { color: #fff;font-size: 1.5rem;letter-spacing: 1px;padding: 20px 0; }
header i.fa { font-size: 1.8rem;margin-right: 1rem }

/* navbar */
.navbar-default { background-color: #337ab7; }
.navbar-default .navbar-brand { background-color: #337ab7;color: #fff; }
.navbar-default .navbar-brand:hover { background-color: #eee;color: #337ab7; }
.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus { background-color: #fff; }
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:active .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar { background-color: #337ab7; }

header .navbar-form { width: 50%; }
header .form-group { width: 85%; }
header .navbar-form .form-control { width: 100%; }

header #form-logout { visibility: hidden; }

.dropdown-menu > li > a { padding: 9px 20px; }
.dropdown-menu .divider { margin: 0; }

header a.cart-items-number { padding-top: 10px;padding-bottom: 14px;z-index: 0;  }
header a.cart-items-number span.cart { background-color: #a94442;border-radius: 1rem;font-size: 1.2rem;margin: 0 -1.5rem 0 0;padding: .2rem .4rem .2rem .5rem;z-index: 10;  }
header a.cart-items-number > i { font-size: 2.5rem;position: relative;z-index: -1;transform: rotateY(180deg);
								-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-o-transform: rotateY(180deg);-ms-transform: rotateY(180deg); }
